*{
    padding: 0%;
    margin: 0;
}

body{
    background-color:#f1ecea ;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}

#contenedor{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    height: 15%;
    background-color:  #3a251c ;
    border-radius: 5px;
    padding: 0 50px;
}

#menuBarra{
    height: 5%;
    background-color: #b46424 ;
    border-radius: 5px;
}

#seccion{
    width: 64%;
    height: 75%;
    background-color:  #362f2f ;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#aside{
    width: 35%;
    height: 75%;
    background-color:  #b58c7c ;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    
}

#piePagina{
    height: 10%;
    width: 99%;
    background-color: #3a251c ;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    
}

.img{
    width: 100px;
    height: 100px;
    border: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.lista-img{
    padding: 5px;
}

.lista-img li{
    display: table-cell;
    list-style: square;
}
.encabezado-section{
    text-align: center;
    margin: 1em 2em;
    color: white;
}

.encabezado-aside{
    text-align: center;
    margin: 1em 2em;
    color: white;
}

.cita{
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

.referencia{
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
.lista-aside{
    padding: 10px;
}

.lista-aside li{
    display: inline;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

ul{
    text-align: center;
    padding: 10px;
}

li{
    padding: 10px 30px;
    display: inline;
    margin: 1.5em;
    font-size: 20px;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
    body {
      background-color: black;
    }
  
    .texto {
      font-size: 16px;
      padding: 5px 15px;
    }
  
    .encabezado-section,
    .encabezado-aside {
      padding: 5px;
      margin: 0.5em 1em;
    }
  
    #contenedor {
      width: 90%;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        align-items: center;
        margin: 2px;
    }
    
    .lista-img{
        padding: 10px;
        margin-left: 75px;
    }
    
    #menuBarra,
    #seccion,
    #aside,
    #piePagina {
      width: 100%;
      margin: 0.5em;
      height: fit-content;
    }

    #encabezado{
        width: 86%;
        margin: 0.5em;
        text-align: center;
    }
}