* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(37,38, 41);
}

#contenedor {
    max-width: 750px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
}

#encabezado {
    height: 15%;
    width: 650px;
    background-color: black;
    padding: 0 50px;
}

#menu {
    width: 100%;
    background-color: #1C1D20;
}

#seccion {
    height: 90%;
    flex: 2; 
    min-width: 300px; 
    padding: 20px;
    background-color: #27292C;
    min-height: 50%;
    text-align: left;
}

#aside {
    display: flex;
    flex-direction: column;
    height: 90%;
    flex: 1; 
    min-width: 200px; 
    padding: 20px;
    background-color: #303235;
    text-align: center;
}

#pie {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #474C54;
    clear: both;
}

.lista-aside ul{
    list-style: none; 
    padding: 0; 
}

.lista-aside li{
    margin: 10px 0;
    color: gainsboro;
}

.lista-menu{
    list-style: none;
    display: in;
    text-align: center;
    padding: 10px;
}

.lista-menu li{
    padding: 10px 30px;
    display: inline;
    margin: 1em;
    font-size: 20px;
    color: lightgrey;
}

.encabezado{
    font-size: 45px;
    color: white;
}

p{
    color: white;
}

h3{
    color: darkgray;
}

@media screen and (max-width: 1000px) {
    body {
      background-color: white;   
    }

    #menu,
    #seccion,
    #aside,
    #pie {
      width: 100%;
      height: fit-content;
    }

   
}