/* Selector Universal   */
*{
    padding: 0%;
    margin: 0;

}

/* Selector de Etiqueta */

body{
    background-color: #adb170;
    color:aliceblue;

}

/*  Selector de Clase   */

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px;
    color: black;
}

.img{
    width: 100px;
    border-radius: 5px;
    justify-items: center;
}

.encabezados-articulos{
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: white;
    margin: 1em 2em;
}

.encabezado-aside{
    padding: 10px;
    text-align: center;
    background-color: rgb(89, 131, 81);
    color: white;
    margin: 1em 2em;
}

.menu{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,25px;
}


.lista-aside{
    padding: 10px;
}

.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}

/*  Selector de ID  */

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    width: 15%;
    background-color: #6c844e;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
}

#menu{
    height: 5%;
    background-color: #7e815d;
    margin: 1em;
    border-radius: 5px;
}

#contenido{
    height: 70%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion{
    height: 70%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #9bac6d
}

#pie{
    height: 9%;
    margin: 0.5em;
    background-color: #b5bf9a;
    text-align: center;
    padding: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 30px;
}
 
/*  Selector de Etiqueta    */

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:700px) {
    div, .row{
        flex-direction: column;
    }

    body{
        background-color: #434430;
    }

    #fueraSeccion, #pie, #contenido,#menu,#encabezado{
        width: 100%;
        margin: 1em;
        border-radius: 5px;
        padding: 0 50px;
        text-align: center;
    }

    .encabezado-aside{
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    header{
        width: 100%;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    li{
        align-items: center;
        margin: 2px;
    }

    .lista-aside{
        display: flex;
        flex-direction: column;
    }

    .lista-aside li{
        text-align: center;
        margin: 2px;
    }
}