*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

.contenedor{
    margin: auto;
    background-color: lemonchiffon;
    width: 900px;
    height: 620px;
    border: 5px solid black;
}

h1{
    padding-top: 20px;
}

.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;

}

.nombre-input{
    width: 420px;
    height: 25px;
    margin-left: 20px;

}

.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;

}

.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;

}

.lugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -130px;
    margin-bottom: 100px;
    padding-right: 225px;

}

.lugarNacimiento select{
    width: 155px;
    margin-left: 20px;
    height: 25px;
}

.poblacion{
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -144px;
    margin-right: 10px;

}

.poblacion input{
    height: 20px;
}

.idiomas{
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -90px;
    margin-right: 40px;

}

.idiomas li{
    width: 550px;
    height: 70px;
    background-color: rgb(1,1,1,.10);
    list-style: none;

}

.idiomas input{
    margin-top: 30px;
    margin-left: 10px;
}

.sexo{
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
}
.sexo li{
    width: 265px;
    height: 60px;
    background-color: rgb(1, 1,1, .10);
    list-style: none;

}

.sexo input{
    margin-top: 20px;
    margin-left: 20px;

}

.correo{
    font-weight: bold;
    height: 110px;
    text-align: left;
    width: 210px;
    float: left;
    margin-left: 20px;
    height: 25px;
    color: black;
}

.correo input{
    margin-top: 0px;
    margin-left: 20px;
}

.egresoPrimaria{
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-right: 400px;
    padding-left: 20px;
    font-weight: bold

}

.egresoPrimaria input{
    margin-left: 40px;
}

.habitos{
    margin-right: 40px;
    text-align: left;
    float: right;
    margin-top: -90px;
    font-weight: bold;

}

.habitos textarea{
    width: 450px;

}

.ingresos{
    width: 55%;
    text-align: center;
    float: left;
    margin-top: 40px;
    font-weight: bold;

}

.ingresos input{
    margin-top: 20px;
    width: 400px;
}

.horario{
    font-weight: bold;
    margin-right: 140px;
    float: right;
    margin-top: 15px;

}

.horario input{
    margin-top: 10px;
    max-width: 80px;
}

.botones{
    font-weight: bold;
    margin-right: 50px;
    float: right;
    margin-top: 15px;
}

#botones{
    margin-top: 10px;
    margin-right: 20px;
    width: 150px;
    height: 35px;
}

#datos{
    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
}

#listaIngresos{
    text-align: center;
    font-size: 8px;
    word-spacing: 2.2em;
}